<h1 class="text-center"><%= @park.name %></h1>
<div class="container">
	<div>
		<img class="img-responsive" src="<%= @park.picture %>" alt="">
	</div>
	<div>
		<h4><%= @park.description %></h4>
	</div>


<div>
	<h2>Activities:</h2>
		<% @park.rangers.each do |r| %>
			<div class="alert alert-info">
				<h3>
					<a href="/rangers/<%= r.id %>">Action<% r.name %></a>
				</h3>
			</div>
		<% end %>
	</div>
		<h2>METHOD CRUD:</h2>
			<%= link_to 'Update this Matter?', edit_park_path(@park), method: :get, :class => "btn btn-warning" %>
			<%= link_to 'Delete This Matter?', park_path(@park), method: :delete, :class => "btn btn-danger" %>
	</div>


