<h1 class="text-center">Activity <%= @ranger.name %> Details</h1>
<h4 class="text-center">Activity <%= @ranger.name %> is available to relate to all Matters</h4>

<h2 class="text-center">Matters associated with <%= @ranger.name %></h2>

<div class="container text-center">
	<% if @ranger.parks.length > 0 %>
		<% @ranger.parks.each do |p| %>
			<div class="alert alert-info">
				<h3>
					<a href="/parks/<%= p.id %>"><%= p.name %></a>
				</h3>	
			</div>
		<% end %>
	<% else %>
		<div class="alert alert-info">
			Activity <%= @ranger.name %> is still waiting to be assigned to a Matter.
		</div>
		</div>
		<h2>ACTION CRUD:</h2>
			<%= link_to 'Update this Action?', edit_ranger_path(@ranger), method: :get, :class => "btn btn-warning" %>
			<%= link_to 'Delete This Action?', ranger_path(@ranger), method: :delete, :class => "btn btn-danger" %>
	</div>

	<% end %>
</div>

